## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [6]:
a=3
print(a)

3

2) Imprimir el tipo de dato de la variable 8.5

In [7]:
b=8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
print("la variable es de tipo",type(a))

la variable es de tipo <class 'int'>

4) Crear una variable que contenga tu nombre

In [9]:
nombre="rocio"

5) Crear una constante que contenga el número Pi

In [10]:
import math
p=math.pi

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
print(p)

3.141592653589793

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [12]:
import math
e=math.e
print(e)
e1=2.7182
print(e1)

2.718281828459045
2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
varTrue="True"
vartrue=True

In [14]:
#no se trata de lo mismo ya que una es un variable de tipo cadena "TRUE" y la otra es tipo booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [15]:
print(varTrue)
print(vartrue)

True
True

10) Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
a1=5
a2=5.3
a3=(a1+a2)
print(a3)

10.3

11) Realizar una operación de suma de un número definido como string con un entero

In [17]:
a4="25"
a5=50
a6=(int(a4)+a5)
print(a6)

75

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [18]:
a8=e1**2
print(a8)

7.3886112399999995

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [19]:

numero1 = int(input("Ingrese un numero por teclado"))
numero2 = int(input("Ingrese un numero por teclado"))


producto=(numero2)*(numero1)
print(producto)

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
div = 27/4
print(div)

6.75

15) De la división anterior solamente mostrar la parte entera

In [ ]:
div1 = 27//4
print(div1)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
div2 = 27%4
print(div2)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
n1 = (6*4) + 3
print(n1)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
cad = "2"
print(int(cad))

n = 2

n == cad

#porque uno es una cadea y el otro un numero

2

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#a = float(3,8)

# float expected at most 1 argument, got 2. quiere decir que esta separado por coma y son dos valores y no un numero decimal. se utiliza un "." para separar decimas

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [ ]:
"""
1 - Pizza 
2 - Empanadas
3 - Milanesas 
4 - Salir
"""

'\n1 - Pizza \n2 - Empanadas\n3 - Milanesas \n4 - Salir\n'

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
lista = list([1,2,3,4,5,6,7,8,9,10])
print(lista[9])

10

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [ ]:
print(lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [ ]:
#mi_nombre = "Rocio"
#print(int(mi_nombre))

lista.remove(3)
lista.insert(2,"Rocio")
print(lista)

[1, 2, 'Rocio', 'Rocio', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [ ]:
matriz = [["A","B","C"], ["D","E","F"], ["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [ ]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [ ]:
matriz[1][1] = "Z"
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [ ]:
matriz[0][0] = 1
matriz[0][1] = 2
matriz[0][2] = 3

print(matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
#mi_tupla = tuple()
mi_tupla = ("gucci","adidas","nike","zara","polo")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [ ]:
print(mi_tupla[0])

gucci

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#Las tuplas guardan los datos en forma de vectores y su uso es muy similar a las listas, pero estas no se pueden modificar una vez inicializados.

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [11]:
la_lista_1= ["Romina", "Vasquez",25,"crochet", "gaming", "correr"]

lista_hobbie = ["crochet","correr","gaming"]

lista_1 = {"Nombre":"Juan","apellido":"Vasquez","edad":25,"hobbies":lista_hobbie}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [12]:
print(lista_1["hobbies"])

['crochet', 'correr', 'gaming']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [ ]:
lista_1 = {"Nombre":"Juan","apellido":"Vasquez","edad":28,"hobbies":lista_hobbie}